<?xml version="1.0"?>
<config>
  <modules>
    <Dotzot_Pudo>
      <version>0.1.0</version>
    </Dotzot_Pudo>
  </modules>
  <frontend>
    <routers>
      <pudo>
        <use>standard</use>
          <args>
            <module>Dotzot_Pudo</module>
            <frontName>pudo</frontName>
          </args>
      </pudo>
    </routers>
		<layout>
		  <updates>
			<pudo>
			  <file>pudo.xml</file>
			</pudo>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <pudo>
        <class>Dotzot_Pudo_Helper</class>
      </pudo>
    </helpers>
	<blocks>
	  <pudo>
		<class>Dotzot_Pudo_Block</class>
	  </pudo>
	</blocks>
	<models>
	  <pudo>
		<class>Dotzot_Pudo_Model</class>
		<resourceModel>pudo_mysql4</resourceModel>
	  </pudo>
	  <pudo_mysql4>
		<class>Dotzot_Pudo_Model_Mysql4</class>
		<entities>		  
			  <pudo>
				<table>pudo_shipping</table>
			  </pudo>
		</entities>
	  </pudo_mysql4>
	</models>
	<resources>
	  <pudo_setup>
		<setup>
		  <module>Dotzot_Pudo</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </pudo_setup>
	  <pudo_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </pudo_write>
	  <pudo_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </pudo_read>
	</resources>
	<events>
      <sales_order_shipment_save_after>  
		<observers>
		  <pudo_shipping_model_observer_sendawb>
			<type>singleton</type>
			  <class>Dotzot_Pudo_Model_Observer</class>
			<method>sendAwb</method>
		  </pudo_shipping_model_observer_sendawb>
		</observers>
	  </sales_order_shipment_save_after>
        </events>
  </global>
  <admin>
	<routers>
	  <pudo>
	    <use>admin</use>
		<args>
		  <module>Dotzot_Pudo</module>
		  <frontName>admin_pudo</frontName>
		</args>
	  </pudo>
	</routers>
  </admin>
  <adminhtml> 
	<layout>
	  <updates>
		<pudo>
		  <file>pudo.xml</file>
		</pudo>
	  </updates>
	</layout>
  </adminhtml>    
	<default>
        <carriers>
            <pudo>
                <active>1</active>
                <model>pudo/carrier_pudo</model>
                <name>pudo</name>
                <title>Pudo</title>
                <description>pudo</description>
                <sort_order>1</sort_order>
            </pudo>
        </carriers> 
    </default>
</config> 
